body {
  margin: 0;
  background-color: rgb(206, 243, 252);
}

#start-btn {
  background-color: rgb(105, 5, 27);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

#start-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#start-screen h1 {
  font-size: 50px;
  color: rgb(105, 5, 27);
  margin: 0;
}

#game-over-screen h1{
  font-size: 50px;
  color: rgb(105, 5, 27);
  margin: 0;
  padding-bottom: 70px;
}

#restart-btn , #restart-btn2{
  background-color: rgb(105, 5, 27);
  color: white;
  padding: 20px;
  font-size: 20px;
  margin-top: 70px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-image: url("../img/Sea-illustrator-bg.png");
  background-size: cover; 
  width:600px;
  height:500px;
  border-radius: 20px;
  position: relative; 
  overflow: hidden; 
  user-select: none; 
}

#game-box * {
  pointer-events: none; 
}

#header{
  display: flex;
  font-size: 20px;
  color: rgb(105, 5, 27);
  font-weight: bold;
  flex-direction: row;
justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 100%;
}
 
#timer {
  margin: 0 auto;
}

#score {
  margin-right: auto;
}

#sound-btn {
  margin-left: auto;
}

#game-over-screen,#game-screen,#score-result-screen
 {
  display: none;
}


